.tablePurchasse {
  padding: 20px 40px 20px 40px;
  margin-top: 20px;
  table-layout: auto;
  max-width: 800px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  border: none;

  /* border-collapse: collapse;
  border: 0px;
  width: 100%; */
}
.tablePurchasse2 {
  border: none;
}

/* .purchasse {
  display: flex;
  width: 60px;
  
} */
